<div class="wrapper">
    <div>
        <img src="/assets/images/burger.png" alt="burger_image">
    </div>

    <ul>
        {{#each burgers}}
            {{> burgers/burger-block}}
        {{/each}}
    </ul>

    <div>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>

    <div>
        <button>Submit</button>
        <p>Enter a burger you want to eat click the "Submit" button</p>
    </div>
</div>